services:
  laravel-client:
    container_name: rummikub-buddy-client
    build:
      context: ./laravel-client
      dockerfile: Dockerfile
    user: "1000:1000"
    volumes:
      - ./laravel-client:/var/www/html
    networks:
      - dev-env-network
    ports:
      - "8000:80"
    restart: always

networks:
  dev-env-network:
    external: true